<h2>All Historical Landmarks</h2>
<% @landmarks.each do |landmark| %>
  <a href='/landmarks/<%=landmark.id%>'>
    <h2>Name: <%= landmark.name %></h2>
    <h3>Year completed: <%= landmark.year_completed %></h3>
  </a>
  <br>
<%end %>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
