<h1><%=@figure.name%></h1>

<br>
<h3>Associated Titles</h3>
<ul>
<% @figure.titles.each do |title| %>
  <li><%=title.name%></li>
<% end %>
</ul>

<br>
<h3>Associated Landmarks</h3>
<ul>
<% @figure.landmarks.each do |landmark| %>
  <li><%=landmark.name%></li>
<% end %>
</ul>